.name_text {
    text-align: center;
    color: #fffffe;
}

.title_container {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232946;
}

.elements_container {
    padding: 10%;
}

@media (max-width:480px) {
    .title_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .elements_container {
        padding: 10%;
    }
}