.stack-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem;
}

.stack-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.stack-image {
    height: 3rem;
}