$nameFont: 'Josefin Sans', sans-serif;

.my-projects-title {
    font-family: $nameFont;
    padding: 0.5rem;
}

.my-projects-text {
    font-family: $nameFont;
    text-align: justify;
}

.project {
    border-radius: 5%;
}

.hover-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.github-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: lightblue;
    border-radius: 10px;
    padding: 0.2rem;
    margin: 0.2rem;
}

.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:lightblue;
    border-radius: 10px;
    padding: 0.2rem;
    margin: 0.2rem;
}

.fa-link {
    font-size: 1.5rem;
    padding: 0.2rem;
}

a {
    text-decoration: none;
}

@media (max-width: 480px) {
    .my-projects-container {
        margin: 1.5rem 2rem 1.5rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-x: hidden;
        align-items: center;
    }

    .projects-gallery {
        margin: 1rem 0rem 1rem 0rem;
    }

    .project {
        height: 15rem;
    }
}