.projects-gallery {
    display: flex;
    justify-content: space-around;
}

.project {
    height: 16rem;
    border-radius: 10%;
    margin: 1rem 0rem 1rem 0rem;
}

.hover-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem 1rem 0rem;
    flex-direction: column;
    height: 16rem;
    width: 22rem;
    background: linear-gradient(179.66deg, rgba(236, 116, 128, 0) -5.85%, #4869b1 30.84%);
    border-radius: 10%;
    opacity: 0;
}

.hover-container:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.3s ease-in-out; /** Firefox **/
    -o-transition: all 0.3s ease-in-out; /** Opera **/
}

.github-container {
    display: flex;
    align-items: center;
    margin: 1rem 0rem 1rem 0rem;
}

.link-container {
    display: flex;
    align-items: center;
}

.fa-link {
    font-size: 1.5rem;
    color: white;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

.link-styles {
    text-decoration: none;
    color: white;
}
