$nameFont: 'Josefin Sans', sans-serif;

@media (max-width: 480px) {
    .about-me-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-x: hidden;
        align-items: center;
        margin: 0.5rem;
    }

    .about-me-text {
        width: 80%;
        text-align: justify;
        font-family: $nameFont;
        padding: 0.5rem;
    }

    .image-part {
        display: flex;
        justify-content: center;
        padding: 2rem;
    }

    .image_drawing {
        height: 8rem;
    }

    .second-title {
        font-family: $nameFont;
    }
}